__pycache__/
build/
dist/
wheels/
.terraform/

.env
.venv
.terraform.tfstate.lock.info
.terraformrc

terraform.rc
ffmpeg
crash.log
override.tf
override.tf.json
ya_ai_api_key.yaml

crash.*.log
*.py[oc]
*.egg-info
*.zip
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
